<!--<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        nav {
            background-color: #603813;



            padding: 10px;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-size: 1.2rem;
        }
        header {
            background-color: #f8f9fa;
            padding: 20px;
        }
        header img {
            max-width: 30%; /* Ajusta esto para cambiar el tamaño del logo */
            height: auto;
        }
        .container {
            margin-top: 20px;
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
        }
    </style> -->